@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22d4fd;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-family: "Krona One", sans-serif;;
    font-size: 24px;
}

.apresentacao_conteudo_texto{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao_botoes{
    display: flex;
    justify-content: space-between;
}

.apresentacao_botoes_links{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: #22d4fd;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #000000;
}